<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Product</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body style="text-align: center;">
    <h1>Product </h1>
    <button class="btn">
        <a href="/logout" style="color: red;">Logout</a>
    </button>
    <div style="text-align: center;">
        <img style="max-width:200px; max-height:200px" src="../{{product.fileName}}">
    </div>
     <div style="margin-top: 30px">
<!--         <b>ID: </b>-->
<!--         <span>{{product._id}}</span>-->
<!--     </div>-->
     <div style="margin-top: 30px">
        <b>Code: </b>
        <span>{{product.code}}</span>
     </div>
    <div style="margin-top: 30px">
        <b>Name: </b>
        <span>{{product.name}}</span>
    </div>
    <div style="margin-top: 30px">
        <b>Price: </b>
        <span>{{product.price}} VND</span>
    </div>
    <b style="margin-top: 30px">Description: </b>
    <textarea style="margin-top: 30px">
      {{product.description}}
    </textarea>
    <div style="margin-top: 30px">
        <button><a href="../">Back</a></button>
    </div>
</body>
</html>
