<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body style="text-align: center;">
    <h1>Update product</h1>
    <button class="btn">
        <a href="/logout" style="color: red;">Logout</a>
    </button>
      <form style="margin-top: 50px;" action="/upload/{{product._id}}" method="post" enctype="multipart/form-data">
          <label>Image</label>
          Upload <input type="file" name="fileUpload"/>
          <input type="submit" value="upload">
     </form>
     <div>
          <img style="max-width:200px; max-height:200px" src="{{product.fileName}}">
     </div>
    <form class="form-group" action="/update" method="post">
        <input style="margin: 30px;" type="hidden" name="txtId" value="{{product._id}}">
        <input style="margin: 30px;" type="hidden" name="txtFileName" value="{{product.fileName}}">
        <div style="margin: 30px;"  class="row">
            <b>Code</b> <input class="form-control" type="text" name="txtCode" value="{{product.code}}">
        </div>
        <div style="margin: 30px;"  class="row">
            <b>Name</b> <input class="form-control" type="text" name="txtName" value="{{product.name}}"/>
        </div>
        <div style="margin: 30px;"  class="row">
             <b>Price</b> (VND) <input class="form-control" type="text" name="txtPrice" value="{{product.price}}"/>
        </div>
        <div style="margin: 30px;" class="row">
            <b >Description</b>
            <textarea class="form-control" name="txtDesc">{{product.description}}</textarea>
        </div>
        <div>
            <input class="btn btn-info" type="submit" value="Edit">
            <div style="margin: 10px">
                <button class="btn btn-outline-success"><a href="../#">Cancel</a></button>
            </div>
        </div>
    </form>
</body>
</html>
